<p>Full Stack Developer, Flatiron School Alumni. This site is where I'll keep all my projects and contact information. Thanks for visting!</p>
<h3>Email me at Keith (dot) Williams (at) flatironschool (dot) com </h3>
