<h3>Email me at Keith (dot) Williams (at) flatironschool (dot) com </h3>
<p>I'm currently a student at the Flatiron School Brooklyn. This site is where I'll keep all my projects and contact information. Thanks for visting!</p>