a img {
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
}

a {
  position: relative;
  display: block;
  float: left;
  padding: 0 5px 5px 0;
  text-decoration: none;
}

a:before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #FFFFFF;
  content: attr(data-icon-text);
  display: block;
  left: 20%;
  opacity: 0;
  padding: 2px 5px;
  top: 0;
  white-space: nowrap;
  z-index: 10;
}

a,
a:before {
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -o-transition: all linear 300ms;
  transition: all linear 300ms;
}

a:hover:before {
  opacity: 1;
  top: -20%;
}

span:hover a {
  opacity: 0.35;
}

span a:hover {
  opacity: 1;
}

a img:first-child,
span:hover a img:first-child + img,
span:hover a:hover img:first-child {
  display: none;
}

span:hover a img:first-child,
span:hover a:hover img:first-child + img {
  display: block;
}